@charset "UTF-8";

/* tudo que em HTML é id, em CSS é #
tudo qe em HTML é class, em CSS é . */

body{
    background-image: linear-gradient(to right, rgb(184, 221, 136), rgba(84, 146, 84, 0.584));
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 20px;
}
h1{
    color: rgb(73, 134, 13);
    text-align: center;
}
h1#principal {
    color: rgb(16, 103, 103);
    text-align: center;}

h2{
    color: rgb(43, 80, 5);
}
h2.basico{
    color: blue;
    text-indent: 70px;
}
h2.intermediario{
    color: red;
    text-indent: 130px;
}
.avancado{
    color: black;
    text-indent: 250px;
}