@charset "UTF-8";

body{
            background-color: rgb(98, 189, 232);
             font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              font-size: 20px;
        }
        h1{
            background-color: rgb(110, 180, 230);
            color: rgb(58, 53, 122);
        }
        h2{
            color: rgb(65, 59, 130);
        }
        p{
            text-align: justify;

        }